@model IEnumerable<MyProject.Controllers.RecordBase>

@{
    ViewBag.Title = "Records";
}

<h2>Records</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WithDrawals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithDrawals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            
        </tr>
    }

</table>
<div class="col-lg-5"></div>
<div class="col-md-4">
    <input type="button" onclick="javascript:history.back()" value="Go back" class="btn btn-primary">
</div>
<div class="col-lg-3"></div><br />