<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title -Edward Yun</title>
    
    <link href="~/CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    
    <link rel="shortcut icon" href="../Content/Images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="../Content/Images/favicon.ico" type="image/x-icon" />

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angularjs")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Me", "Index", "Portfolio")</li>
                    <li>@Html.ActionLink("Mug Store", "Store", "Portfolio")</li>
                    <li>@Html.ActionLink("Bank System", "Index", "Bank")</li>

                    @using System.Security.Claims;
                    @if ((User as ClaimsPrincipal).HasClaim(ClaimTypes.Role, "Admin")) {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage data <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Load Data", "Load", "Data")</li>
                                <li>@Html.ActionLink("Remove Data", "Remove", "Data")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        -->

    @RenderBody()
    @RenderSection("scripts", required: false)
    @RenderSection("head", required: false)
    @*
    <footer>
        <p>&copy; @DateTime.Now.Year - Edward Insu Yun</p>
    </footer>
        *@
</body>
</html>
