@model Assignment_8.Controllers.TrackWithDetails

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @{
                string comma = "(comma-separated)";
            }
            @Html.DisplayNameFor(model => model.Composers) @comma
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clerk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clerk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumsCount)
        </dt>

        <dd>
            <span class="badge">@Html.DisplayFor(model => model.AlbumsCount)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumNames)
        </dt>

        <dd>
            @foreach (var item in Model.AlbumNames)
            {
                string a = "["; string b = "] ";
                @a;
                @Html.DisplayFor(modelItem => item)
                @b;
            }

        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
